body {
    overflow: hidden;
}

/* Nav / Header */
.navbar-brand {
    background-color: #444;
    padding: 20px 35px;
    margin-left: 5%;
    color: white !important;
    font-size: 26px;
    font-family: 'Yellowtail', cursive;;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.navbar-nav, .nav-link {
    padding-left: 5%;
    margin-right: 30px;
}

.last {
    margin-right: 50px;
}

/* Main section */
main {
    margin-top: 5%;
}

.card {
    border: 3px solid rgba(0,0,0,.125);
}

img {
    width: 30%;
    float: left;
    margin-right: 2%;
    border-radius: 5%;
}

hr {
    height: 2px;
    background-color: #444;
    border: none;
}

/* Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    border-top: 3px solid rgb(145, 145, 145);
  }