html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Nav / Header */
.navbar-brand {
    background-color: #444;
    padding: 20px 45px;
    margin-left: 5%;
    font-size: 30px;
    font-family: 'Yellowtail', cursive;;
}

.navbar-light .navbar-brand {
    color: #fff;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid #444;
}

.navbar-nav, .nav-link, button {
    margin-right: 30px;
}

.nav-link:hover {
    transition: ease 0.3s;
}

/* Main section */
main {
    margin: 45px 5%;
}

main p {
    font-size: 18px;
}

.card {
    border: 3px solid #444;
}

img {
    width: 35%;
    float: left;
    margin-right: 2%;
    border-radius: 5%;
}

hr {
    height: 2px;
    background-color: #444;
    border: none;
}

/* Footer */

footer {
    margin-top: auto;
    height: 4.5rem;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    border-top: 3px solid rgb(145, 145, 145);
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}

/* Media */

/* Tablets */
@media(max-width: 991px){
    /* Navbar */
    .navbar-nav, .nav-link, button {
        padding-left: 5%;
        font-size: 18px;
    }

    .nav-link{
        margin: 5px;
    }
}

/* Mobile */
@media(max-width: 640px) {
    /* Main section */
    img {
        float: none;
        margin: 5px 0px 10px 5px;
        width: 95%;
    }
}