<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LJ's | {{ title }}</title>
     <!-- Tab icon -->
     <link rel="shortcut icon" type="image/x-icon" href="./images/circle-cropped.png"/>
     <!-- Bootstrap css -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <!-- Google fonts link -->
     <link href="https://fonts.googleapis.com/css2?family=Yellowtail&display=swap" rel="stylesheet">
     <!-- Adobe fonts link -->
     <link rel="stylesheet" href="https://use.typekit.net/slr7iwm.css">
     <!-- My css -->
     <link rel="stylesheet" href="./CSS/style.css">
     <!-- Font awesome link -->
     <script src="https://kit.fontawesome.com/0a5e91de56.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="">LJ Spencer</a>
          
        <!-- Nabbar toggle button -->
        <!-- This will only show on tablets and mobile devices -->
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar items -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <!-- About, currently active -->
            <li class="nav-item active">
              <a class="nav-link" href="">About <span class="sr-only">(current)</span></a>
            </li>
            <!-- Portfolio -->
            <li class="nav-item">
              <a class="nav-link" href="portfolio.html">Portfolio</a>
            </li>
            <!-- Resume -->
            <li class="nav-item">
              <a class="nav-link" href="LJ-Spencer-Resume-2020.pdf">Resume</a>
            </li>
            <!-- Contact -->
            <li class="nav-item">
              <a class="nav-link last" href="contact.html">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    {{{ body }}}

    <footer>
      <p>Made with &hearts; in SLC.</p>
      <p id="copy">&copy; Copyright 2020.</p>
    </footer>

    <!-- Regular jQuery Link -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- My Javascript -->
    <script src="./Javascript/code.js"></script>
    <!-- Bootstrap Javascript links -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>