<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="card fourCard">
                <div class="card-body">
                    <h2 class="fourTitle">The page you're looking for couldn't be found...</h2>

                    <video autoplay loop class="fourImg">
                        <source src="../images/sad-gif.mp4" type="video/mp4" alt="Sad that you got a 404">
                    </video>

                    <p class="fourText">
                        Please make sure you typed the link correctly.
                    </p>

                    <p class="fourText">
                        Or if this was a glitch please contact LJ at hockeyduck3@gmail.com
                    </p>
                </div>
            </div>
        </div>

        <a href="/" class="fourText">Click here to go back to the homepage.</a>
    </div>
</div>