<!-- Main section -->
<div class="container-fluid">
    <main class="card">
        <section class="card-body">
        <h2>Contact me</h2>

            <hr class="line">
            
            <div class="mainCard">
                <form id="my-form"
                action="https://formspree.io/moqngqye"
                method="POST">
                    <!-- Name -->
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="name">Name <span id="nameError" class="hide">* Cannot contain numbers.</span></label>
                        
                        <div class="col-md-9">
                            <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                        </div>
                    </div>
            
                    <!-- Email input-->
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="email">Your E-mail <span id="emailError" class="hide">* Invalid email.</span></label>
                        
                        <div class="col-md-9">
                            <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                        </div>
                    </div>
            
                    <!-- Message body -->
                    <div class="form-group">
                        <label class="col-sm-12 control-label" for="message">Your message <span id="messageError" class="hide">* Cannot be empty.</span></label>
                        
                        <div class="col-md-9">
                            <textarea class="form-control" id="message" name="message" placeholder="Enter your message here." rows="3"></textarea>
                        </div>
                    </div>
            
                    <!-- Form actions -->
                    <div class="form-group">
                        <div class="col-md-12 text-right">   
                            <p class="ajaxError hide">Something went wrong...</p>
                            <button type="submit" class="btn btn-primary btn-lg" id="my-form-button">Submit</button>
                        </div>
                    </div>
                </form>
                <p class="ajaxSuccess hide">Message Sent!</p> 
            </div>
        </section>
    </main>

    <!-- Email -->
    <p class="text emailText">If you don't want to use the above contact form, you can reach out to me directly at <em>hockeyduck3@gmail.com</em></p>
    <p class="text emailText">Or you can reach out to me at one of the links below.</p>

    <!-- Connect with me section -->
    <div class="container-sm">
        <div class="card connect">
        <div class="card-body">
            <!-- Card title -->
            <h2 class="connectText">Connect with me</h2>

            <hr class="line">

            <!-- Div for social links-->
            <div class="socialLinks">
            <!-- Twitter -->
            <div class="twitter">
                <a href="https://twitter.com/ljspencer97" target="_blank" class="twitterLink">
                <span class="twitterText">Twitter</span>
                <i class="fab fa-twitter twitterLogo"></i>
                </a>
            </div>

            <!-- Github -->
            <div class="github">
                <a href="https://github.com/hockeyduck3" target="_blank" class="githubLink">
                <span class="githubText">Github</span>
                <i class="fab fa-github githubLogo"></i>
                </a>
            </div>

            <!-- LinkedIn -->
            <div class="linkedIn">
                <a href="https://linkedin.com/in/lj-spencer" target="_blank" class="linkedInLink">
                <span class="linkedInText">Linked</span> <i class="fab fa-linkedin linkedInLogo"></i>
                </a>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Regular jQuery Link -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- My Javascript -->
    <script src="./javascript/code.js"></script>
    <script src="./javascript/contact.js"></script>
    <!-- Bootstrap Javascript links -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>