<!-- Main section -->
<div class="container-fluid">
    <main class="card">
        <section class="card-body">
        <a href="" class="backBtn" style="display: none;"><i class="fas fa-chevron-left"></i></a>
        <h2 class="cardHeader">My Portfolio</h2>

            <hr class="line">
            
            <div class="container">
                <!-- Portfolio cards -->
                <div class="row mainSection" style="display: none;">

                    <!-- Quiz game card -->
                    <div class="col-lg-3 project" data-name="quiz">
                        <a href="" target="_blank">
                            <img src="images/Quiz.png" alt="Screenshot of My Quiz Game">
                            <p>Quiz Game!</p>
                        </a>
                    </div>

                    <!-- Password Maker card -->
                    <div class="col-lg-3 project" data-name="password">
                        <a href="" target="_blank">
                            <img src="images/Password.png" alt="Screenshot of My Password Maker">
                            <p>Password Maker</p>
                        </a>
                    </div>

                    <!-- Weather Site card -->
                    <div class="col-lg-3 project" data-name="weather">
                        <a href="" target="_blank">
                            <img src="images/Weather.png" alt="Screenshot of My Weather App">
                            <p>Weather App</p>
                        </a>
                    </div>

                    <!-- COVID-19 Info card -->
                    <div class="col-lg-3 project" data-name="covid">
                        <a href="" target="_blank">
                            <img src="./images/Covid.png" alt="Screenshot of the COVID-19 Website My group and I built">
                            <p>COVID-19 Info</p>
                        </a>
                    </div>

                    <!-- Simple Note Taker -->
                    <div class="col-lg-3 project" data-name="note">
                        <a href="" target="_blank">
                            <img src="images/Note-Taker.jpg" alt="Screenshot of My Simple Note Taker">
                            <p>Note Taker</p>
                        </a>
                    </div>

                    <!-- Employee Management App -->
                    <div class="col-lg-3 project" data-name="employee">
                        <a href="" target="_blank">
                            <img src="images/Employee-Management.jpg" alt="Screenshot of My Employee Management App">
                            <p>Employee Management</p>
                        </a>
                    </div>

                    <!-- Eat-Dat-Burger -->
                    <div class="col-lg-3 project" data-name="burger">
                        <a href="" target="_blank">
                            <img src="images/Eat-Dat-Burger.jpg" alt="Screenshot of My Eat-Dat-Burger App">
                            <p>Eat-Dat-Burger</p>
                        </a>
                    </div>

                    <!-- Poke-Build -->
                    <div class="col-lg-3 project" data-name="poke">
                        <a href="" target="_blank">
                            <img src="images/Poke-Build.jpg" alt="Screenshot of the Poke-Build Website my group and I made">
                            <p>Poke-Build</p>
                        </a>
                    </div>
                </div>

                <div class="enlarged" style="display: none;">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="" alt="" class="portfolioBigImg">
                        </div>

                        
                        <div class="col-lg-7 description">
                            <h4 class="descriptionTitle">Description</h4>
                            <p class="descriptionText"></p>

                            <h4 class="linksTitle">Links</h4>

                            <div class="links">
                                <div class="liveLinkDiv">
                                    <a href="" class="liveLink" target="_blank"><i class="fas fa-globe-americas"></i> <span class="liveLinkText">Live Site</span></a>
                                </div>

                                <div class="repoLinkDiv">
                                    <a href="" class="repoLink" target="_blank"><i class="fab fa-github"></i> Project Repo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>

<!-- Regular jQuery Link -->
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
      <!-- My Javascript -->
      <script src="./javascript/code.js"></script>
      <script src="./javascript/portfolio.js"></script>
      <!-- Bootstrap Javascript links -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>