html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Nav / Header */
h2, .navbar-brand {
    font-family: 'Yellowtail', cursive;
}

.navbar-brand {
    background-color: #444;
    padding: 20px 45px;
    margin-left: 5%;
    font-size: 30px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover{
    color: #fff;
}

.navbar {
    padding: 0;
    border-bottom: 1px solid #444;
}

.navbar-nav, .nav-link, button {
    margin-right: 30px;
}

button:focus {
    outline: #444 3px auto;
}

.nav-link:hover {
    transition: ease-in 0.3s;
    color: black;
}

.nav-link {
    transition: ease-out 0.3s;
}

/* Main section */
main {
    margin: 45px 5%;
    box-shadow: 2px 9px 15px -3px #444;
}

h2 {
    font-size: 45px;
}

main p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.6em;
}

main button {
    background-color: white;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    color: black;
    transition: ease-out 0.6s;
}

main button:focus {
    outline: none;
}

main button:hover {
    text-decoration: none;
    color: rgb(23, 136, 235);
    transition: ease-in 0.3s;
}

.card {
    border: 3px solid #444;
}

.card-body {
    padding: 1.04rem;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

#profilePic, #helloThere {
    width: 25%;
    float: left;
    margin-right: 2%;
    border-radius: 0.5rem;
    border: 2px solid #444;
    box-shadow: 2px 6px 15px -3px #444;
}

#helloThere {
    width: 100%;
    float: none;
    align-self: center;
    justify-content: center;
}

hr {
    height: 2px;
    background-color: #444;
    border: none;
}

.btn {
    background-color: #444;
    border-color: #444;
    margin-top: 10px;
}

.form-control {
    border-color: black;
}

.container h1 {
    margin-bottom: 25px;
    font-size: 35px;
}

.col-md-3 a {
    text-decoration: none;
}

.col-md-3:hover {
    transform: scale(1.08);
    transition: ease-in 0.4s;
}

.col-md-3 {
    transition: ease-out 0.3s;
}

.col-md-3 img {
    border-top: 3px solid #444;
    border-left: 3px solid #444;
    border-right: 3px solid #444;
    border-radius: 10px 10px 0px 0;
    height: 85%;
    width: 100%;
}

.col-md-3 p {
    background-color: #444;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.hide {
    display: none;
}

/* Footer */

footer {
    margin-top: auto;
    height: 4.5rem;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    border-top: 3px solid rgb(145, 145, 145);
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}

/* Media */

/* Tablets */
@media(max-width: 991px){
    /* Navbar */
    .navbar-nav, .nav-link, button {
        padding-left: 5%;
        font-size: 18px;
    }

    .nav-link{
        margin: 5px;
    }

    /* Main Section */
    .media {
        display: flex;
        margin: 0;
    }
    
}

/* Mobile */
@media(max-width: 640px) {
    /* Main section */
    #profilePic {
        float: none;
        margin: 5px 0px 25px 5px;
        width: 95%;
    }

    .col-md-3:hover {
        transform: scale(1);
    }

    .col-md-3 p {
        margin-bottom: 35px;
    }
}