html {
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(221, 221, 221);
    min-height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Nav / Header */
.navbar {
    background-color: #444 !important;
}

h2, .navbar-brand {
    font-family: 'Yellowtail', cursive;
}

.navbar-brand {
    padding: 20px 10px;
    margin-left: 5%;
    font-size: 30px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover{
    color: #fff;
}

.navbar {
    padding: 0;
    border-bottom: 2px solid black;
}

.navbar-nav, .nav-link, button {
    margin-right: 25px;
}

button:focus {
    outline: #444 3px auto;
}

.nav-link:hover {
    transition: ease-in 0.3s;
}

.nav-link {
    transition: ease-out 0.3s;
}

.navbar-dark .navbar-toggler {
    border:  2px solid rgba(185, 185, 185, 0.2);
}

/* Main section */
main, .connect {
    margin: 45px 5%;
    box-shadow: 2px 9px 10px -3px #444;
}

h2 {
    font-size: 45px;
}

hr {
    height: 2px;
    background-color: #444;
    border: none;
}

main p, main button {
    color: black;
    font-size: 15px;
    line-height: 1.6em;
}

/* Styling for the hello there button */
main button {
    background-color: white;
    border: none;
    margin: 0;
    outline: none;
    padding: 0;
    transition: ease-out 0.6s;
}

main button:focus {
    outline: none;
}

main button:hover {
    text-decoration: none;
    color: rgb(23, 136, 235);
    transition: ease-in 0.3s;
}

/* Styling for the card */
.card {
    border: 3px solid #444;
}

.card-body {
    padding: 1.04rem;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

/* Styling for the profile picture and the hello there gif */
#profilePic, #helloThere {
    border-radius: 0.5rem;
    border: 2px solid #444;
    box-shadow: 2px 6px 15px -3px #444;
    float: left;
    margin-right: 2%;
    width: 25%;
}

/* More styling for the hello there gif */
#helloThere {
    width: 100%;
    float: none;
}

.btn {
    background-color: #444;
    border-color: #444;
    margin-top: 10px;
}

.form-control {
    border-color: black;
}

.container h1 {
    margin-bottom: 25px;
    font-size: 35px;
}

/* Styling for the connect with me section */
.connectText {
    text-align: center;
}

.socialLinks {
    display: flex;
    font-size: 40px;
    flex-direction: row;
    justify-content: center;
}

.twitter, .github, .linkedIn {
    transition: linear 0.4s;
}

.twitterLink, .githubLink, .linkedInLink {
    box-shadow: 0px 4px 7px -3px #444;
    border-radius: 0.5rem;
    margin: 0px 25px;
    padding: 4px 7px;
}

.twitterLink, .twitterLink:hover {
    background-color: #1DA1F2;
    color: white;
}

.githubLink, .githubLink:hover {
    background-color: black;
    color: white;
}

.linkedInLink, .linkedInLink:hover {
    background-color: #2867B2;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.twitterLink:hover, .githubLink:hover, .linkedInLink:hover {
    text-decoration: none;
}

.twitter:hover, .github:hover, .linkedIn:hover {
    transform: scale(1.05);
    transition: linear 0.4s;
}

/* Portfolio stylings */
.project a {
    text-decoration: none;
}

.project:hover {
    transform: scale(1.08);
    transition: ease-in 0.4s;
}

.project {
    transition: ease-out 0.3s;
}

.project img {
    border-top: 3px solid #444;
    border-left: 3px solid #444;
    border-right: 3px solid #444;
    border-radius: 10px 10px 0px 0;
    height: 85%;
    width: 100%;
}

.project p {
    background-color: #444;
    color: white;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.hide {
    display: none;
}

/* Github link/p tag */
.beforeFooter {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.mainBeforeFooter {
    margin-bottom: 30px;
}

.repoLinkTitle {
    margin-bottom: 30px;
    text-decoration: underline;
}

.repoHr {
    margin-top: 0;
    margin-bottom: 30px;
    background-color: lightgray;
    width: 50%;
}

#githubLink {
    color: black;
    font-size: 15px;
    transition: linear 0.1s;
}

#githubLink:hover {
    color: rgb(116, 116, 116);
    transition: linear 0.1s;
    text-decoration: none;
}

/* Footer */
footer {
    margin-top: auto;
    height: 4.5rem;
    width: 100%;
    background-color: #444;
    color: white;
    text-align: center;
    border-top: 3px solid rgb(145, 145, 145);
}

footer p{
    margin: 1px 0 0 0;
    padding: 5px 0 0 2px;
}

/* Media */

/* Tablets */
@media(max-width: 991px){
    /* Navbar */
    .navbar-nav, .nav-link, button {
        padding-left: 5%;
        font-size: 20px;
    }

    .navbar-brand {
        padding: 25px 10px;
    }

    .nav-link{
        margin: 5px;
    }

    /* Main Section */
    .media {
        display: flex;
        margin: 0;
    }

    .twitterText, .githubText, .linkedInText {
        display: none;
    }
    
}

/* Mobile */
@media(max-width: 640px) {
    /* Main section */
    #profilePic {
        float: none;
        margin: 5px 0px 25px 5px;
        width: 95%;
    }

    .project {
        margin-bottom: 10px;
    }

    .project:hover {
        transform: scale(1);
    }

    .project p {
        font-size: 18px;
        margin-bottom: 35px;
    }

    /* Footer */
    .repoLinkTitle, .repoHr {
        display: block;
    }
}

/* iPhone 5/SE */
@media(max-width: 320px) {
    /* Nav */
    button {
        margin-right: 20px;
    }

    /* Main */
    main p, #btn1 {
        font-size: 15px;
    }

    .connectText {
        font-size: 40px;
    }

    .twitterLink, .githubLink, .linkedInLink {
        margin: 0px 13px;
    }
}